<html>
    <head>
        <title>Stock Trading User Interface</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui secondary pointing menu">
            <a href="/" class="active item">
                PreGapping Stocks
            </a>
            <a href="/strategies" class="item">
                Strategies
            </a>
            <a href="/orders" class="item">
                Order History
            </a>
        <div class="right menu">
            <a class="ui item">
                Logout
            </a>
        </div>
        </div>
        <div class = "ui container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
