{% extends "layout.html" %}

{% block content %}
    <h1><a href="/">Stocks </a>
        <i class="angle double right icon"></i>
        {{ strategy.name }}
    </h1>

    <h2> Stocks </h2>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
        </tr>
        {% endfor %}}
        </tbody>
    </table>
{% endblock %}
